<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Category</title>
</head>
<body>
    <h1>Book Categories</h1>
    <ul>
        <li>Fiction</li>
        <li>Non-Fiction</li>
        <li>Mystery</li>
        <li>Romance</li>
        <li>Science Fiction</li>
        <li>Fantasy</li>
        <li>Biography</li>
        <li>History</li>
        <li>Self-Help</li>
        <li>Children's Books</li>
        <li>Religion</li>
        <li>Philosophy</li>
        <li>Politics</li>
        <li>Social Sciences</li>
        <li>Psychology</li>
        <li>Health</li>
    </ul>

</body>
</html>